stepfunctions/gcsmttr.yml
Comment: >-
  A state machine that coordinates the inital MTTR Data Process
StartAt: Filter Action Type
States:
  Filter Action Type:
    Type: Choice
    InputPath: "$.detail"
    Choices:
      - Variable: "$.action"
        StringEquals: "created"
        Next: Format Record for DB Entry
      - Variable: "$.action"
        StringEquals: "fixed"
        Next: Format Record for DB Update
      - Variable: "$.action"
        StringEquals: "closed_by_user"
        Next: Format Record for DB Update
    Default: Success State
  Format Record for DB Entry:
    Type: Task
    Resource: "${CreateDBRecordFunctionArn}"
    Parameters:
      alert.$: "$.alert"
      repository.$: "$.repository"
      organisation.$: "$.organisation"
    TimeoutSeconds: 60
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - States.Timeout
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: "$"
        Next: Process Error
    ResultPath: "$"
    Next: Put MTTR Data Into Table
  Put MTTR Data Into Table:
    Type: Task
    Resource: "arn:aws:states:::dynamodb:putItem"
    Parameters:
      TableName: "${AllDataTable}"
      ReturnConsumedCapacity: TOTAL
      Item:
        id:
          S.$: "$.record.id"
        organisationName:
          S.$: "$.record.organisationName"
        repositoryName:
          S.$: "$.record.repositoryName"
        alertID:
          N.$: "$.record.alertID"
        alertURL:
          S.$: "$.record.alertURL"
        alertCreatedAtFullTimestamp:
          S.$: "$.record.alertCreatedAtFullTimestamp"
        alertCreatedAtYear:
          N.$: "$.record.alertCreatedAtYear"
        alertCreatedAtMonth:
          S.$: "$.record.alertCreatedAtMonth"
        alertCreatedAtDate:
          N.$: "$.record.alertCreatedAtDate"
    ResultPath: null
    Next: Success State
  Format Record for DB Update:
    Type: Task
    Resource: "${UpdateDBRecordFunctionArn}"
    Parameters:
      alert.$: "$.alert"
      repository.$: "$.repository"
      organisation.$: "$.organisation"
    TimeoutSeconds: 10
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - States.Timeout
        IntervalSeconds: 2
        MaxAttempts: 3
        BackoffRate: 2
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: "$"
        Next: Process Error
    ResultPath: "$.dynamo"
    Next: Should I Enter Into DB
  Should I Enter Into DB:
    Type: Choice
    InputPath: "$.dynamo"
    Choices:
      - Variable: "$.statusCode"
        NumericEquals: 200
        Next: Update MTTR Data Into Table
    Default: Success State
  Update MTTR Data Into Table:
    Type: Task
    Resource: "arn:aws:states:::dynamodb:updateItem"
    Parameters:
      TableName: "${AllDataTable}"
      ReturnConsumedCapacity: TOTAL
      Key:
        id:
          S.$: "$.record.id"
      UpdateExpression: "set alertClosedAtReason = :alertClosedAtReason, alertClosedAtFullTimestamp = :alertClosedAtFullTimestamp, alertClosedAtYear = :alertClosedAtYear, alertClosedAtMonth = :alertClosedAtMonth, alertClosedAtDate = :alertClosedAtDate"
      ExpressionAttributeValues:
        ":alertClosedAtReason":
          S.$: "$.record.alertClosedAtReason"
        ":alertClosedAtFullTimestamp":
          S.$: "$.record.alertClosedAtFullTimestamp"
        ":alertClosedAtYear":
          S.$: "$.record.alertClosedAtYear"
        ":alertClosedAtMonth":
          S.$: "$.record.alertClosedAtMonth"
        ":alertClosedAtDate":
          S.$: "$.record.alertClosedAtDate"
    ResultPath: null
    Next: Success State
  Process Error:
    Type: Pass
    Parameters:
      Cause.$: States.StringToJson($.Cause)
    OutputPath: "$.Cause.errorMessage"
    Next: Fail State
  Success State:
    Type: Succeed
  Fail State:
    Type: Fail
